body {
    background-image: linear-gradient(to bottom right, rgb(43, 255, 0), rgb(0, 110, 255));
    color: white;
    font-family: "Bai Jamjuree", sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 700px;
    margin: 0;
}

button {
    background-color: #64A712;
    color: white;
    font-family: "Bai Jamjuree", sans-serif;
}

.passo {
    display: none;
}

.passo.ativo {
    display:block;
}
.passo.ativo img{
    max-height: 0%;
    max-width: 50%;
    height: 1000px;
    width: auto;
    

}

main {
    text-align: center;
    max-width: 90%;
}

.img {
    width: 90px;
}
